{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <h1>Followed user's Posts</h1>
    <div class="container">
        {% if posts %}
            {% for post in posts %}
            {% include 'network/posts.html' %}
            {% endfor %}
        {%else%}
        <div>
            <br>
            <br>
            <h4>There is  no post yet...</h4>
        </div>
        
        {% endif %}
    </div>
    {% include 'network/paginator.html' %}
</div>
{% include 'network/modal.html' %}
{% endblock %}

{% block script %}
<script type="module" src="{% static 'network/following.js' %}"></script>
{% endblock %}