<div class="container border" name="post" id={{post.id}}>
    <div id="p{{post.id}}">{{ post.post }}</div>
    <div>
        <a href="{% url 'profile' post.user %}">{{ post.user }}</a>
    </div>
    <div>{{ post.creationTime }}</div>
    <div class="btn-group">
        {% if user.is_authenticated %}
        {% if post in user_likes %}
        <!-- Red -->
        <div>
            <button name="like" id="b{{post.id}}" type="submit" class="btn border">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 3 16 16">
                    <path id="h{{post.id}}"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
                <span id="l{{post.id}}">
                    {{ post.likes.count }}</span>
            </button>
        </div>
        {% else %}
        <!-- White -->
        <div>
            <button name="like" id="b{{ post.id }}" type="submit" class="btn border">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor"
                    class="bi bi-heart" viewBox="0 3 16 16">
                    <path id="h{{post.id}}"
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
                <span id="l{{post.id}}">{{ post.likes.count }}</span>
            </button>
        </div>
        {% endif %}
        {% else %}
        <!-- White -->
        <button type="button" class="btn border" data-toggle="popover" data-trigger="focus" title="Sorry..."
            data-content="You should <a href='/login' >log in here</a> or <a href='/register'>register here</a> for this action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor"
                class="bi bi-heart" viewBox="0 3 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
            {{ post.likes.count }}
        </button>
        {% endif %}
        {%if user == post.user%}
        <div>
            <!-- <button type="button" class="btn btn-primary" name="edit" id="e{{post.id}}">Edit</button> -->
            <button name="edit" id="e{{post.id}}" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">Edit</button>
        </div>
        {% endif %}
    </div>
</div>